body {
  font-family: Arial, sans-serif;
  background-image: url("../public/knapsack-background.jpg");
  background-color: #f4f4f9;  
  color: #333;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(221, 221, 221);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2980b9;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 4px solid rgb(221, 221, 221);  /* creates padding around scroll thumb */
}

.app-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #2980b9;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 3px #253947;
  margin-bottom: 30px;
}

.input-container,
.add-item-container {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.knapsack-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.knapsack-button,
.add-item-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.knapsack-button:hover {
  background-color: #2980b9;
  transform: translateY(5px);
}

.add-item-button:hover {
  background-color: #2980b9;
  transform: translateX(5px);
}

.horizontal-line {
  width: 100%;
  border: 2px solid #ccc;
  margin-top: 20px;
}

h3 {
  color: #2980b9;
  margin-top: 30px;
}

.memo-matrix table,
.selected-items ul,
.added-items-container ul {
  width: 95%;
  height: auto;
  max-height: 30vh;
  overflow-y: scroll;
  border-collapse: collapse;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.memo-matrix {
  max-height: 50vh;
  max-width: 100%;
  overflow: scroll;
  height: auto;
}

.added-items-container ul::-webkit-scrollbar,
.selected-items ul::-webkit-scrollbar,
.memo-matrix::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}

.added-items-container ul::-webkit-scrollbar-track,
.selected-items ul::-webkit-scrollbar-track,
.memo-matrix::-webkit-scrollbar-track {
  background: #2980b9;        /* color of the tracking area */
  border-radius: 10px;
}

.added-items-container ul::-webkit-scrollbar-thumb,
.selected-items ul::-webkit-scrollbar-thumb,
.memo-matrix::-webkit-scrollbar-thumb {
  background-color: rgb(221, 221, 221);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 4px solid #2980b9;  /* creates padding around scroll thumb */
}

.memo-matrix td,
.memo-matrix th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.selected-items li,
.added-items-container li {
  list-style: none;
  padding: 10px 0;
  
}

.selected-items li:last-child,
.added-items-container li:last-child {
  border-bottom: none;
}

.total-value {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 30px;
  padding: 15px;
  background-color: #ecf0f1;
  border-radius: 5px;
}

.total-value p {
  font-size: 24px;
  font-weight: bold;
  color: #27ae60;
}
